@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-header1 font-normal uppercase leading-[140%];
}
h2 {
  @apply text-2xl font-normal capitalize leading-[140%];
}

p {
  @apply font-normal leading-[140%] text-info;
}
.decorated-text {
  position: relative;
}

.decorated-text::before {
  content: '';
  height: 0.1px;
  transform: translateY(-50%);
  @apply bg-tertiary absolute top-[52%] w-full;
}

/* The container-radio */
.container-radio {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  appearance: none;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;

  @apply bg-light;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  @apply bg-light;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 50%;
  height: 50%;
  border-radius: 50%;

  @apply border border-primary;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  @apply bg-primary;
}
